<h1>Contact Me</h1>





<form class="form container">
                      	
			<label> Name
				<input type="text" name="name" placeholder="Full Name" required>
			</label>

			<label> Email
				<input type="email" name="email" placeholder="Email address" required>
			</label>

			<label> Leave a Message
				<textarea name="message"></textarea>
			</label>

        	<input class="btn" type="submit" name="submit" value="Submit">

		</form>