<html>
	<head>
		<title>My Sinatra About Me Page</title>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> -->

	</head>
	<body>
		<h1>My Sinatra About Me Page</h1>
		<%= yield %>
	</body>


</html>