<section class="grid">

	<!-- TC Williams -->

	<div class="col-1-3">
		<h3>T.C. Williams</h3>
		<p>I went to T.C. Williams High School in Alexandria, Virginia, the same school featured in the Ryan Gosling movie "Remember the Titans."</p>
	</div><!--

	Yale

	--><div class="col-1-3">
		<h3>Yale</h3>
		<p>I graduated from Yale in 2013, where I studied Environmental Engineering and German, and was on the heavyweight rowing team.</p>
	</div><!--

	VFA

	--><div class="col-1-3">
		<h3>Venture for America</h3>
		<p>After college I took part in Venture for America, a 2-year fellowship program that places college grads at startups in up-and-coming cities.</p>
	</div><!--

	Teespring

	--><div class="col-1-3">
		<h3>Teespring</h3>
		<p>I worked in BD and ops at Teespring, a crowdfunding platform for creating and selling custom apparel. The company is backed by YC, a16z and Khosla Ventures.</p>
	</div><!--

	DPL

	--><div class="col-1-3">
		<h3>DevPoint Labs</h3>
		<p>The Providence Teespring office closed in February 2016, so here I am in SLC hoping to develop some hard skills, accelerate my career and become a part of the community.</p>
	</div><!--

	Interests

	--><div class="col-1-3">
		<h3>Interests</h3>
		<p>Skiing, running, movies, TV, podcasts, pop culture, personal finance, bar trivia, trying to crack 1000 followers on Twitter...and generally new and exciting things in any domain.</p>
	</div>

</section>